<div id="<%= dom_id message %>">
  <p>
    <strong>Full name:</strong>
    <%= message.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= message.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= message.phone %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>

</div>
