<!-- Page Content-->
<div class="container px-5 my-5">
  <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Message</span></h1>
  </div>
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      <section>
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2"><%= @message.full_name %></div>
                  <div class=" fw-bolder"><%= link_to @message.phone, "tel:#{@message.phone}" %></div>
                  <div class=" fw-bolder"><%= mail_to @message.email %></div>
                  <!-- <div class="small text-muted">Los Angeles, CA</div> -->
                </div>
              </div>
              <div class="col-lg-8"><div><%= simple_format(@message.body) %></div></div>
            </div>
          </div>
        </div>
        <div>
          <%= link_to "Back to messages", messages_path %>
          <%= button_to "Destroy this message", @message, method: :delete, class: 'btn btn-primary' %>
        </div>        
      </section>
    </div>
  </div>
</div>

